.top{
	background-image: url("../img/main6.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.stick{
	position: sticky;
	top: 0px;					/*important, else it won't work*/ 
}


.centeritem{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.heading-name{
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.heading-info{
	font-size: 20px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.project{
	background-image: url("../img/project1.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.pr-heading{
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
}

.pr-info{
	padding-top: 10vh;
}

.about{
	background-image: url("../img/about1.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.ab-heading{
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
}

.ab-info{
	
}

.skills{
	background-image: url("../img/skills1.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.sk-heading{
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
}

.sk-info{
	margin-top: 10vh;
}

.transparent{
	background-color: transparent;
}

.contact{
	background-image: url("../img/contact1.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.co-heading{
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
}

.co-info{
	
}

.footer{
	background-color: black;
	height :10vh;
	text-align: center;
	font-size: 20px;
	color:rgba(255,255,255,0.9);
	padding-top: 4vh;
}
