html {
	scroll-behavior: smooth;
}

.section{
	padding-top: 15vh;
	height: 100vh;
}

.stick{
	position: sticky;
	top: 0px;					/*important, else it won't work*/ 
}


.centeritem{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.top{
	background-image: url("../img/main.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.navlink{
	font-size: 20px;
	font-weight: bold;

}

.heading-name{
	font-size: 48px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.heading-info{
	font-size: 20px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
	width: 100%;
}

.project{
	background-image: url("../img/project1.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.pr-heading{
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
}

.pr-info{
	padding-top: 10vh;
}

.about{
	background-image: url("../img/about3.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.ab-heading{
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
}

.ab-info{
	
}

.skills{
	background-image: url("../img/skills.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.sk-heading{
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
}

.sk-info{
	margin-top: 10vh;
}

.card-body{
	color:white;
	text-align: center;
}

.card-padding{
	padding: 0px;
}

.transparent{
	background-color: transparent;
}

.contact{
	background-image: url("../img/contact1.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.co-heading{
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
}

.co-info{
	padding-top: 5vh;
}

.footer{
	background-color: black;
	height :6vh;
	text-align: center;
	font-size: 2vh;
	color:rgba(255,255,255,0.9);
	padding-top: 2vh;
	padding-bottom: 2vh;
}

/*Materialize form color*/
/* label color */
.input-field label {
	color: white !important;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: white !important;
}
.btn:focus{ 
  background-color: #4dd0e1 !important;
} 