.main{
	background-image: url("../img/main3.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.heading-image{
	position: relative;
	height: 50vh;
}

.img-prop{
	position: absolute;
	bottom:0;
}

.heading-name{
	position: sticky;
	top: 0;
	text-align: center;
	font-size: 64px;
	color:rgba(255, 255, 255, 0.9);
	font-weight: bold;
}
