.top{
	background-image: url("../img/main3.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.stick{
	position: sticky;
	top: 10px;
}

.img-prop{
	display: block;
    margin-left: auto;
    margin-right: 20px;
    margin-bottom: 10px;
}

.heading-name{
	margin-top: 65px;
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
}

.heading-info{
	margin-top: 10px;
	font-size: 20px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
}

.project{
	background-image: url("../img/project1.jpg");
	height:100vh;
	background-position: center center;
	background-size: cover;
}

.pr-heading{
	font-size: 56px;
	color:rgba(255,255,255,0.9);
	font-weight: bold;
	text-align: center;
}